{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Form</h1>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form action = "/form" method = "POST">
      <div class = "form-row py-1">
          <div class = "col-auto">
              <label for = "fn">First name</label>
              <input type = "text" class = "form-control" id = "fn" name = "fn" placeholder = "First name" required autofocus>
          </div>
          <div class = "col-auto">
              <label for = "ln">Last name</label>
              <input type = "text" class = "form-control" id = "ln" name = "ln" placeholder = "Last name" >
          </div>
          <div class = "col-auto">
              <label for = "un">User name</label>
              <div class = "input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend2">@</span>
                  </div>
                  <input type = "text" class = "form-control" id = "un" name = "un" placeholder = "User name" required>
              </div>
          </div>
      </div>
      <div class = "form-row py-1">
          <div class = "col-auto">
              <label for = "ph">Phone number</label>
              <input type = "text" class = "form-control" id = "ph" name = "ph" placeholder = "Phone Number" required>
          </div>
          <div class = "col-auto">
            <label for = "bd">Birthdate</label>
            <input type = "date" class = "form-control" name = "bd" id = "bd" placeholder = "YYYY//MM//DD" required>
          </div>


          <div class = "col-md-4">
              <label for = "ea">Mail adress</label>
              <input type = "text" class = "form-control" id = "ea" name = "ea" placeholder = "Mail adress" required>
          </div>
      </div>
      <div class = "form-row py-1">
        <div class = "col-auto">
        Next travel
          <div class = "form-group">
              <div class = "form-check-inline">
                  <input class = "form-check-input" type = "radio" name = "jp" value = "tokyo">Tokyo
              </div>
              <div class = "form-check-inline">
                  <input class = "form-check-input" type = "radio" name = "jp" value = "osaka">Osaka
              </div>
              <div class = "form-check-inline">
                  <input class = "form-check-input" type = "radio" name = "jp" value = "saporo">Saporo
              </div>
          </div>
        </div>
      </div>
      <div class = "form-row py-1">
          <div class = "col-auto">
              <button class="btn btn-primary" type="submit" >Submit</button>
          </div>
      </div>
    </form>

    <script>

        /* TODO */
        document.querySelector('form').onsubmit = function(){
          if(!document.querySelector('#fn').value){
            alert('You must provide your First name');
            return false;
          }
          else if(!document.querySelector('#ln').value){
            alert('You must provide your Last name');
            return false;
          }
          return true;
        }

    </script>

{% endblock %}
